$markerFont: 'Permanent Marker', cursive;
$cabinFont: 'Cabin Sketch', cursive;

body {
  font-size: 15px;
  font-family: $markerFont;
}

.desktopWelcomeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
    .desktopWelcomeTitle {
      font-size: 5rem;
      font-family: $cabinFont;
      // border: 1px solid black;
      color: blue;
    }

  p {
    font-size: 2rem;
  }

  button {
    height: 3rem;
    width: 10rem;
    border-radius: .7rem;
    background-color: darkturquoise;
    font-size: 1.1rem;
    font-weight: bold;
  }
}

#progressBar {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
   height: 3rem;
   width: 100%;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.desktopNavBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Cabin Sketch', cursive;
  }

}




/* .desktopWelcomeTitle {
  border: 1px solid black;
} */