$markerFont: 'Permanent Marker', cursive;
$cabinFont: 'Cabin Sketch', cursive;

#mobile-navbar-container {
  display: flex;
  justify-content: center;
  background-color: orange;
  position: fixed;
  width: 100%;
  top: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ff7c7c' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  .mobile-navbar-title {
    font-family: $cabinFont;
    margin: 0;
    font-size: 3rem;
  }
}

.mobile-drawing {
  position: fixed;
  margin-top: 4rem;
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
  background-image: url(/static/media/background3.bfd5b7a6.jpg);
  p {
    font: normal 20px/20px "Patrick Hand", sans-serif;
    color: #575757;
  }
}

#mobile-canvas{
  /*margin-top: 13rem;*/
  /*position: fixed;*/
}
#mobile-name-submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .form-container {
    display: flex;
    flex-direction: column;
    //margin-top: 5rem;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .mobile-submit-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .mobile-form-name-text {
      height: 2rem;
      font: normal 25px/25px "Patrick Hand", sans-serif;
      text-indent: 5px;
      color: #575757;
      background-color: transparent;
      border-bottom: 3px solid gray;
      border-top: transparent;
      border-right: transparent;
      border-left: transparent;
      //margin-top: 4rem;
    }
    .mobile-form-name-submit {
      border-radius: 10px;
      height: 3rem;
      margin-top: 3.5rem;
      background: #FFF;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      border: 2px solid #575757;
      font: normal 22px/25px "Patrick Hand", sans-serif;
      text-transform: uppercase;
      color: #575757;
      box-shadow: 0 2px 0 #575757;
    }
  }
}

.mobile-full-selfie-camera-container {
  display: flex;
  justify-content: center;
  margin-top: 8rem;

  .mobile-video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    video {
      margin-bottom: 1rem;
    }
  }

  .mobile-selfie-container {
    margin-top: 2rem;
  }

}



#mobile-guess-test {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;

  .mobile-guessing-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mobile-guess-form {
    font-size: 1.5rem;
    text-align: center;

    .mobile-guess-button {
      border-radius: 10px;
      height: 3rem;
      margin-top: 3rem;
      background: #FFF;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      border: 2px solid #575757;
      font: normal 22px/25px "Patrick Hand", sans-serif;
      text-transform: uppercase;
      color: #575757;
      box-shadow: 0 2px 0 #575757;
    }
    .mobile-guess-field {
      height: 2rem;
      font: normal 25px/25px "Patrick Hand", sans-serif;
      text-indent: 5px;
      color: #575757;
      background-color: transparent;
      border-bottom: 3px solid gray;
      border-top: transparent;
      border-right: transparent;
      border-left: transparent;
    }
  }
}


.mobile-votes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mobile-individual-votes {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 3rem;

    .mobile-votes-button {
      border-radius: 10px;
      margin-top: 3rem;
      background: #FFF;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      border: 2px solid #575757;
      font: normal 22px/25px "Patrick Hand", sans-serif;
      text-transform: uppercase;
      color: #575757;
      box-shadow: 0 2px 0 #575757;
    }
  }

.mobile-score-full-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

    .mobile-score-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  h1 {
    text-align: center;
    font: normal 35px "Patrick Hand", sans-serif;
    color: #575757;
  }
  p {
    font-size: 4.6rem;
    text-align: center;
    font-family: $cabinFont;
    color: #575757;
    margin-top: 10px;
  }
}

.mobile-full-default-container {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  height: 100vh;

    .mobile-default-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    }

    h2 {
      margin-top: 6rem;
      text-align: center;
    }

   .mobile-default-bird {
    margin: 2.5rem;
   }
}

a span {
  background: #FFF;
  display: block;
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid #575757;
}

a:active {
  top: 4px;
  padding-bottom: 0px;
  box-shadow: 0 1px 0 #575757;
}

a {
  position: relative;
  float: left;
  font: normal 22px/25px "Patrick Hand", sans-serif;
  margin-right: 10px;
  text-transform: uppercase;
  color: #575757;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #575757;
  transition: padding 0.1s, box-shadow 0.1s, top 0.1s;
  background-image: url('data:image/gif;base64,R0lGODlhBAAEAIABAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjEgNjQuMTQwOTQ5LCAyMDEwLzEyLzA3LTEwOjU3OjAxICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgV2luZG93cyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5NUY1OENCRDdDMDYxMUUyOTEzMEE1MEM5QzM0NDVBMyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5NUY1OENCRTdDMDYxMUUyOTEzMEE1MEM5QzM0NDVBMyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjk1RjU4Q0JCN0MwNjExRTI5MTMwQTUwQzlDMzQ0NUEzIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjk1RjU4Q0JDN0MwNjExRTI5MTMwQTUwQzlDMzQ0NUEzIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAQAAAQAsAAAAAAQABAAAAgYEEpdoeQUAOw==');
}

.mobile-bird {
	padding: 0 1rem;
	display: block;
  z-index: 1;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#bird {
	animation: fly .9s ease-in-out infinite;
}

#shadow {
	animation: shadow .9s ease-in-out infinite;
}

#rightwing {
	animation: rightwing .25s ease-in-out infinite;
	transform-origin: 330px 350px;
}

#leftwing {
	animation: leftwing .25s ease-in-out infinite;
	transform-origin: 90px 390px;
}

#leftpupil {
	animation: leftpupil 12s ease-in-out infinite;
}

#rightpupil {
	animation: rightpupil 12s ease-in-out infinite;
}

// Keyframes

@keyframes fly {
	from {transform: translateY(0);}
	50% {transform: translateY(12px);}
}

@keyframes shadow {
	50% {transform: scale(1.05) translateX(-10px);}
}

@keyframes rightwing {
	from {transform: rotate(0deg);}
	50% {transform: rotate(40deg);}
}

@keyframes leftwing {
	from {transform: rotate(0deg);}
	50% {transform: rotate(-30deg);}
}

@keyframes leftpupil {
	17% {transform: translateX(0);}
	20% {transform: translateX(10px);}
	47% {transform: translateX(10px);}
	50% {transform: translateX(0) translateY(-30px);}
	82% {transform: translateX(0) translateY(-30px);}
	85% {transform: translateX(-50px) translateY(-5px);}
	97% {transform: translateX(-50px) translateY(-5px);}
}

@keyframes rightpupil {
	17% {transform: translateX(0);}
	20% {transform: translateX(70px);}
	48% {transform: translateX(70px);}
	50% {transform: translateX(0) translateY(-30px);}
	82% {transform: translateX(0) translateY(-30px);}
	85% {transform: translateX(-12px) translateY(-5px);}
	97% {transform: translateX(-12px) translateY(-5px);}
}

.mobile-logo-container {
  margin: 10rem 2.5rem;

  .mobile-circle-sb {
    width: 150px;
    border: 5px solid #575757;
    padding: 20px 0px;
    margin: 0 1rem 2rem 0;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #575757;
    background: #fff;
    font: normal 22px/25px "Patrick Hand", sans-serif;
    align-self: flex-start;
    animation: fly .9s ease-in-out infinite;
  }

  .mobile-dcircle {
    border: 5px solid #575757;
    position: absolute;
    width: 20px;
    padding: 10px;
    border-radius: 50%;
    right: -15px;
    bottom: 15px;
    top: 55px;
    left: 65px;
  }

  .mobile-dcircle:before {
    content: "";
    position: absolute;
    width: 20px;
    padding: 10px;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    background: #fff;
  }

  .mobile-dcircle1 {
    border: 5px solid #575757;
    position: absolute;
    width: 1px;
    padding: 10px 12px;
    border-radius: 50%;
    right: -35px;
    bottom: 13px;
    top: 75px;
    left: 80px;
  }


  .mobile-dcircle1:before {
    content: "";
    position: absolute;
    width: 1px;
    padding: 10px 12px;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    background: #fff;
  }
}

